[mysqld]
bind_address = 0.0.0.0
#skip_name_resolve = ON
#skip_name_resolve
sql_mode = ''

default-time-zone='+03:00'
back_log = 512

host_cache_size = 428
max_allowed_packet = 128M #Нельзя большим делать, т.к. на одно соединение тратится:
#read_buffer_size + read_rnd_buffer_size + sort_buffer_size + thread_stack + max_allowed_packet + join_buffer_size (судя по mysqltuner). А у нас соединений max_connections. Но с другой стороны это максимальный размер, а не для всех пакетов! А параметр влияет на скорость запроса!
max_connections = 150

# MyISAM
#key_buffer_size                = 100M
#myisam_recover_options = BACKUP



# QC - 5.7 only
query_cache_limit       = 1M
query_cache_size        = 256M
query_cache_type        = 1
#query_cache_size       = 0
#query_cache_type       = 0

# Table cache
open_files_limit = 100000
table_open_cache        = 20000
table_definition_cache  = 2000

# Temp tables
tmp_table_size          = 128M
max_heap_table_size     = 128M

# Timeouts
lock_wait_timeout   = 100
wait_timeout        = 3000 #для больших запросов сделал, вообще он (ускорение сайтов) ставил 300
innodb_lock_wait_timeout = 30
#max_execution_time  = 6000
#
#
#



# Buffers # Buffers Изменил с 512 на 1M хотя speedemy не рекомендует менять, но запрос быстрее стал выполняться один как минимум
join_buffer_size        = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
sort_buffer_size        = 1M
bulk_insert_buffer_size = 16M
### Leave these at their defaults, do not change server-wide settings for them
### Instead, use session variable when you really need it like that:
### mysql> SET session read_buffer_size = 2 * 1024 * 1024;
### mysql> RUN YOUR QUERY;



#InnoDB
innodb_flush_method     = O_DIRECT

innodb_log_file_size    = 64M #innodb_buffer_pool_size/8
### Allow 1-2h worth of writes to be buffered in transaction logs:
innodb_log_buffer_size  = 16M
### Don't sweat about about this, just set it to 16M.

innodb_file_per_table
### There's a number of reasons to use file per table, but beware that
### it doesn't convert tables automatically, and ibdata1 will never shrink anyways

innodb_flush_neighbors = 0
### Set to 0 if you're using SSD. For magnetic drives, keep it at 1
### http://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_flush_neighbors

#innodb_buffer_pool_dump_pct = 75        # MySQL 5.7 only
### Enable these for faster warm-up
### http://www.speedemy.com/17-key-mysql-config-file-settings-mysql-5-7-proof#innodb_buffer_pool_dump_at_shutdown

#innodb_flush_log_at_trx_commit = 0

innodb_buffer_pool_instances = 4
### Set this depending on MySQL version. Available since 5.6
### In 5.6, set to 4
### In 5.7, set to 8
### http://www.speedemy.com/17-key-mysql-config-file-settings-mysql-5-7-proofinnodb_buffer_pool_instances

innodb_buffer_pool_size = 512M
### Set the innodb buffer pool size to 75-80% of total memory (dedicated):
### http://www.speedemy.com/17-key-mysql-config-file-settings-mysql-5-7-proof#innodb_buffer_pool_size
### The example above would be used on a dedicated 128GB MySQL server.



# Binlog
#server_id 1
log_bin                 = /var/log/mysql/mysql-bin.log
sync_binlog             = 0
max_binlog_size     = 200M
### Don't have large binary logs, with file systems like ext3 this could
### cause stalls.

binlog_format = MIXED
### For the binary log format, I recommend MIXED, but it's up to you.


#expire_logs_days       = 3
### Control the amount of binary logs server is allowed to keep (in days)


# Disable binlog
# skip-log-bin

innodb_checksum_algorithm = crc32     # MySQL 5.6 or newer


[xtrabackup]
target_dir = /data/backups/mysql/
